<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- Data Source=139.196.106.66;Initial Catalog=Cockles;User ID=sa;Password=*********** -->
  <!--<add name="CocklesDbContext" connectionString="Server=.;Initial Catalog=CocklesBase;User ID=sa;Password=qwertyuiop" providerName="System.Data.SqlClient" />-->
  <!--<add name="CocklesDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Cockles;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  <add name="CocklesDbContext" connectionString="Data Source=139.196.106.66;Initial Catalog=Cockles;User ID=sa;Password=yahangkeji.com;" providerName="System.Data.SqlClient" />
</connectionStrings>